/* start global rules */
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screens */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */

/* start main page */
.home{
    background-image: linear-gradient(to right, #495b73 50%, #c6d993 50%);
    height: 100vh;
    position: relative;
}
.home .home-links{
    display: flex;
    justify-content: flex-end;
}
.home .home-links > .sign-up-btn,
.home .home-links > .log-in-btn{
    border-radius: 20px;
    margin-top: 15px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    font-size: 20px;
    width: 140px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.home .home-links > .sign-up-btn{
    background-color: #010101;
    color: white;
    margin-right: 20px;
}
.home .home-links > .log-in-btn{
    color: #707070;
    background-color: white;
}
.home .heading{
    font-size: 55px;
    background-color: white;
    margin-top: 50px;
    width: 800px;
    padding: 50px;
    border-radius: 20px;
    color: #333;
    font-weight: 600;
}
.home .heading > span{
    color: #4d539a;
    font-weight: bold;
}

.home .image img{
    width: 600px;
    position: absolute;
    bottom: 0px;
    right: 80px;
}

/* end main page */

/* start sign-up page */
.sign-up{
    background-image: linear-gradient(to right, #c3cfee 50%, #495b73 50%);
    height: 100vh;
    position: relative;
}
.sign-up::before{
    content: "";
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #cade99;
    left: 0;
    bottom: 0;
}
.sign-up .container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.sign-up .form{
    background-color: #fff;
    padding: 15px 20px 30px;
    width: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.sign-up .form h2{
    text-align: center;
    font-weight: bold;
}
.sign-up .form div{
    margin-bottom: 18px;
}
.sign-up .form .box{
    position: relative;
    display: flex;
    align-items: center;
}
.sign-up .form .box::before{
    content: "";
    position: absolute;
    background-color: #aaa;
    width: 1px;
    height: 34px;
    top: 0;
    left: 33px;
}
.sign-up .form .box input:not([type="radio"]){
    width: 400px;
}
.sign-up .form .box input{
    padding: 7px 7px 7px 40px;
    border: 1px solid #aaa;
}
.sign-up .form .box i{
    position: absolute;
    left: 10px;
}
.sign-up .form .radio-box{
    display: flex;
    align-items: center;
}
.sign-up .form .radio-box input{
    margin-right: 5px;
}
.sign-up .form .radio-box label:first-of-type{
    margin-right: 20px;
}
.sign-up .form select{
    width: 400px;
}
.sign-up .form select,
.sign-up .form .checkbox{
    margin-bottom: 18px;
}
.sign-up .form input[type="button"]{
    color: white;
    background-color: #f7ba1b;
    border: none;
    font-size: 18px;
    padding: 7px;
}
.sign-up .image{
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-90%, -65%);
}
.sign-up .image img{
    width: 770px;
}
.sign-up input:focus{
    outline: 2px solid #f7ba1b;
    border: 1px solid #f7ba1b;
}

/* end sign-up page */

/* start quiz page */
.quiz{
    background-color: #c3cfee;
    background-size: cover;
    padding-top: 80px;
    height: 100vh;
}
.quiz .container{
    display: grid;
    grid-template-columns: 70% auto;

}
.quiz .container .main,
.quiz .container .spans,
.quiz .container .countdown{
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
}
.quiz .main{
    margin-right: 50px;
    background-color: #fafafa;
}
.quiz .main > div{
    background-color: #fff;
}
.quiz .main .info{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
}
.quiz .main .question-area{
    padding: 15px;
    margin-bottom: 15px;
}
.quiz .main .answers-area{
    padding: 15px;
    margin-bottom: 15px;
}
.quiz .main .answers-area .answer{
    padding: 20px;
    background-color: #fafafa;
}
.quiz .main .answers-area .answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}
.quiz .main .answers-area .answer input[type="radio"]:checked{
    accent-color: #495b73;
}
.quiz .main .answers-area .answer input[type="radio"]:checked + label{
    color: #495b73;
}
.quiz .main .answers-area .answer label{
    cursor: pointer;
}
.quiz button{
    background-color: #495b73;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: block;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 15px;
    border-radius: 6px;
}
.quiz .container .spans,
.quiz .container .countdown{
    background-color: #fff;
}
.quiz .sub .spans{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
}
.quiz .sub .spans h3{
    /* margin: auto; */
    color: #777;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.quiz .sub .spans .bullets{
    display: flex;
    flex-wrap: wrap;
}
.quiz .sub .spans .bullets span{
    background-color: #eee;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    margin-bottom: 7px;
}
.quiz .sub .spans span.active{
    background-color: #495b73;
}
.quiz .sub .countdown{
    text-align: center;
}
.quiz .sub .countdown h3{
    color: #777;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}
.quiz .sub .countdown span{
    font-weight: bold;
    color: #495b73;
    font-size: 18px;
}
/* end quiz page */

/* start sign-in page */
.sign-in{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #495b73 80%, #191203 80%);
    display: flex;
    align-items: flex-end;
    color: white;
    justify-content: space-between;
    padding-left: 8vw;
    padding-right: 8vw;
    position: relative;
    /* z-index: -2; */
}
.sign-in .content{
    background-color: #0c131d;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    margin-bottom: 150px;
    /* position: relative; */
}
.sign-in .background{
    background-color: #c6db96;
    border-radius: 20px;
    padding: 50px 30px;
    
    /* width: fit-content; */
}
/* .sign-in .content::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 140%;
    background-color: #c6db96;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
} */
.sign-in .content h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
}
.sign-in .content div{
    margin-bottom: 20px;
}
.sign-in .content div input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
    color: #eee;
    width: 100%;
    font-size: 20px;
}
.sign-in .content div input:focus{
    outline: none;
}
.sign-in .content .submit{
    color: #c6db96;
    background-color: #0c131d;
    display: block;
    width: fit-content;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 35px auto 0;
    position: relative;
    overflow: hidden;
}
/* .sign-in .content .submit::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.426);
} */
.sign-in .content .submit span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #c6db96);
    animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.sign-in .content .submit span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #c6db96);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.sign-in .content .submit span:nth-child(3){
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #c6db96);
    animation: animate3 2s linear infinite;
}
@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.sign-in .content .submit span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #c6db96);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
/* #198f9f */
/* end sign-in page */